body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,code,em,img,q,small,strong,dd,dl,dt,li,ol,ul,fieldset,form,label,table,tbody,tr,th,td,input{margin:0;padding:0;border:0}
html{ font-size:50px; background-color: #212121; -webkit-text-size-adjust:none;-ms-touch-action:none;}
body{margin:0 auto; font-size: 0.48rem; font-family:'STHeiti','Microsoft YaHei',Helvetica,Arial,sans-serif;-webkit-text-size-adjust:none;}
a,a:active,a:hover,a:focus,a:visited{text-decoration:none}
a,img{-webkit-touch-callout:none}
ol,ul,li{list-style:none}
.clear:after{content:"\0020";display:block;height:0;visibility:hidden;clear:both}
.clear{zoom:1}
@-webkit-keyframes load{0%{-webkit-transform:rotate(360deg)}100%{-webkit-transform:rotate(0)}}
@-moz-keyframes load{0%{-moz-transform:rotate(360deg)}100%{-moz-transform:rotate(0)}}
.loading{background:#fff;width:100%;height:100%;position:absolute;z-index:999; text-align: center; color: #999; z-index: 99;}
.loadbox{display:block;position:relative;width:70px;height:70px;margin:0 auto;margin-top:50%;}
.loadlogo{display:block;position:absolute;z-index:1001;width:60px;height:60px;top:0;left:4px;background:url(http://images.vxinyou.com/gdjh/zt/shuangshiyi/load.png) no-repeat;background-size:100%}
.loadbg{display:block;position:absolute;z-index:1000;width:70px;height:70px;background:url(http://images.vxinyou.com/gdjh/zt/shuangshiyi/loadbg.png) no-repeat;background-size:100%;-webkit-animation:load 1s ease-in-out infinite both;-moz-animation:load 1s ease-in-out infinite both}
img{display: block; max-width: 100%;}
.warp{width: 100%; height: 100%; background-image: url(img/b.jpg); background-size: 100% auto; background-repeat: no-repeat; position: absolute;}
.logo{display: block; width: 6.9rem; height: 3.48rem; position: absolute; top: 1.6rem; left: 50%; margin-left: -3.44rem; background: url(img/logo.png) no-repeat; background-size: 100% auto; overflow: hidden; text-indent: -999px;}
.mian{width: 11rem; margin: 7.0rem auto 0; padding-bottom: 0.64rem; background:#fff url(img/f.jpg) no-repeat center bottom; background-size: 100% auto;}
.tit{width: 100%; height: 1.6rem; background: url(img/tit.jpg) no-repeat; background-size: 100% auto;}
.tit a{display: block; width: 1.6rem; height: 0.72rem; float: right; margin: 0.4rem 0.3rem 0 0; background: url(img/switch.png) no-repeat; background-size: 100% auto;}
.tit a.active{background: url(img/switch2.png) no-repeat; background-size: 100% auto;}
.list{margin: 0 0.3rem}
.list li{min-height: 1.4rem; padding:0.33rem 0.8rem 0.32rem 1.7rem; margin-top: 4px; position: relative; background-color: #212121;}
.list li:nth-child(1){background:#212121 url(img/list1.jpg) no-repeat; background-size: 100% auto;}
.list li:nth-child(2){background:#212121 url(img/list2.jpg) no-repeat; background-size: 100% auto;}
.list li:nth-child(3){background:#212121 url(img/list3.jpg) no-repeat; background-size: 100% auto;}
.list li i{display: block; width: 0.66rem; height: 0.6rem; background: url(img/a.png) no-repeat; background-size: 100%; position: absolute; left: 0.8rem; top: 0.65rem;}
.list li.active i{background: url(img/b.png) no-repeat; background-size: 100%;}
.list li h4{font-size: 0.6rem; color: #fff;}
.list li p{font-size: 0.5rem; color: #999999; line-height:1.4;}






